
  </div><!-- #content -->
  <div id="footer">
    <img id="avatar" src="/static/img/avatar.jpeg"/>
    <h3>About me:</h3>
    <h4><%= site.author %></h4>
    <p><%- site.bio -%></p>
    <p>Email: <%= site.email %></p>
    <p>Twitter: <a href="https://twitter.com/<%= site.twitter %>">@<%= site.twitter %></a></p>
    <p>Home: <a href="/"><%= site.home %></a></p>
  </div>
  <script src="/static/js/scripts.js"></script>
</body>
</html>
