
  </div><!-- #content -->
  <div id="footer">
    <p class="date">Last updated: <%= page.updatedAt %></p>
    <p>Email: <%= site.email %></p>
    <p>Twitter: <a href="https://twitter.com/<%= site.twitter %>">@<%= site.twitter %></a></p>
    <p>Home: <a href="/"><%= site.home %></a></p>
  </div>
  <script src="/static/js/scripts.js"></script>
</body>
</html>
