<%- include('header'); -%>

<img src="/static/img/tezos_book.png" style="width: 300px; float: left; margin-left: 20px; margin-bottom: 40px"></img>

<h1 id="maintitle"><%= site.title %></h1>

<p><i><%= site.title %></i> is a free e-book that will help you get started with
the Tezos blockchain.</p>

<p>This book will be helpful for founders / CTOs deciding on adoption, aspiring
bakers, smart contract authors and people just wanting to run a node for fun.</p>

<p>The tutorials within assume little to no prior knowledge of blockchain
technologies, server administration or software development.</p>

<p>They are also in-depth enough that they should be useful for people who are experienced with any of the above.</p>

<div class="startnav">
  <ul>
    <li style="text-align: left">
      <a href="/<%= site.firstPageSlug %>">
        <img src="/static/img/start_chapter_one.png" style="width: 250px"></img>
      </a>
    </li>
    <li style="text-align: center">
      <img src="/static/img/tezos_script.png" style="width: 50px"></img>
    </li>
    <li style="text-align: right">
      <a href="/<%= site.tocPath %>">
        <img src="/static/img/start_toc.png" style="width: 250px"></img>
      </a>
    </li>
  </ul>
</div>

<%- include('footer'); -%>
