<%- include('header'); -%>

<img src="/static/img/tezos_book.png" style="width: 400px"></img> 

<h1><%= site.title %></h1>

<p><i><%= site.title %></i> is a free e-book that will help you get started with
the Tezos blockchain. This book will be helpful for founders / CTOs deciding on adoption, aspiring bakers, smart contract authors or people just wanting to run a node for fun.</p>


<p>The tutorials within assume no prior knowledge of blockchain technologies,
server administration or software development. They are also in-depth enough
that they should be useful for people who are experienced with any of the above.</p>

<p>
  <a href="/<%= site.tocPath %>">Get Started</a> 
  here or view the 
  <a href="/<%= site.tocPath %>">Table of Contents</a>
</p>

<%- include('footer'); -%>
