<%- include('header'); -%>

<h1><%= site.title %></h1>

<h2>All Posts:</h2>

<% pages.forEach((page) => { %>
  <p><%= page.date %> - <a href="/<%= page.slug %>"><%= page.title %></a></p>
<% }); %>

<%- include('footer'); -%>
