<%- include('header'); -%>

<h1><%= title %></h1>

<h2>All Posts:</h2>

<% pages.forEach((ctx) => { %>
  <p><%= ctx.page.date %> - <a href="/<%= ctx.page.slug %>"><%= ctx.page.title %></a></p>
<% }); %>

<%- include('footer'); -%>
