<%- include('header'); -%>

<h1><%= title %></h1>

<h2>Posts By Tag:</h2>

<% tags.forEach((tag) => { %>
  <% tag.pages.forEach((ctx) => { %>
    <p><%= ctx.page.date %> - <a href="/<%= ctx.page.slug %>"><%= ctx.page.title %></a></p>
  <% }); %>
<% }); %>

<%- include('footer'); -%>
