<%- include('header'); -%>

<h1><%= site.title %></h1>

<h2>Table of Contents</h2>

<ol>
<% pages.forEach((page) => { %>
  <li><a href="/<%= page.slug %>"><%= page.title %></a></li>
  <ul>
  <% page.sections.forEach((section) => { %>
    <li><%= section.title %></li>
  <% }); %>
  </ul>
<% }); %>
</ol>

<%- include('footer'); -%>
