<%- include('header'); -%>

<h1><%= site.title %></h1>

<h2>Table of Contents</h2>

<div class="toc">
  <ol>
    <li><a href="/">Home Page</a></li>
    <li>Table of Contents</li>

  <% pages.forEach((page) => { %>

    <% if (site.whitelist.indexOf(page.path) !== -1) { %>

      <li><a href="/<%= page.slug %>"><%= page.title %></a></li>
      <ul>
      <% page.sections.forEach((section) => { %>
        <li><a href="/<%= page.slug %>#<%= section.slug %>"><%= section.title %></a></li>
      <% }); %>
      </ul>

    <% } else { %>

      <li><%= page.title %></li>
      <ul>
      <% page.sections.forEach((section) => { %>
        <li><%= section.title %></li>
      <% }); %>
      </ul>

    <% } %>

  <% }); %>

  </ol>
</div>

<%- include('footer'); -%>
